body {
	background: #eee;
	#background-image: url("../images/background.jpg");
	#background-repeat: no-repeat;
}

.mensaje-error {
		color: red;
}

.title-element {
	font-weight: bold;
}
#zona-superior__ {
	-webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.3);
box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.3);
}
#zona-superior h1 {
	font-size: 50px;
}

.carousel .carousel-item {
width:300px !important;
}

html, body {
    height: 100%;
  }

	.pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }

.p-text {
	font-size: 16px;
}

.parrafo-texto {
	font-size: 16px;
}

.info-card {
	position: relative;
	margin: 0.5rem 1rem 1rem 0;
	background-color: rgba(255,255,255,0.8);
}

h1 {
	font-size: 30px;
}

.imagen-card {
	padding: 0.3rem;
}

#login {
	position: relative;
  	margin: 0.5rem 1rem 1rem 0;
  	#background-color: #fff;
  	-webkit-transition: -webkit-box-shadow .25s;
  	transition: -webkit-box-shadow .25s;
  	transition: box-shadow .25s;
  	transition: box-shadow .25s, -webkit-box-shadow .25s;
  	border-radius: 2px;
	background-color: rgba(255,255,255,1);
	padding: 10px;
	color: black;
}

label {
	color: black;
}

::placeholder {
  color: #222;
}
